@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  background-color: $dark;
  color: $light;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $secondary;
}
